.faqFixed__link {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 19px;
   font-weight: 800;
   user-select: none;
}

.faqFixed {
   position: fixed;
   top: 22%;
   right: 10%;
   width: 64px;
   height: 64px;
   color: white;
   border-radius: 50%;
   animation: pulse2 1.5s infinite;
   -webkit-animation: pulse2 1.5s infinite;
}

.pulse {
   position: fixed;
   top: 22%;
   right: 10%;
   width: 64px;
   height: 64px;
   color: white;
   border-radius: 50%;
   background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ff8a00),
      to(#da1b60)
   );
   background: -o-linear-gradient(left, #ff8a00, #da1b60);
   background: linear-gradient(to right, #ff8a00, #da1b60);
   cursor: pointer;
   box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
   -webkit-box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
   animation: pulse 1.5s infinite;
   -webkit-animation: pulse 1.5s infinite;
}

@keyframes pulse {
   0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(253, 132, 3, 0.1);
   }
   70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 17px rgba(253, 132, 3, 0.1);
   }
   100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(253, 132, 3, 0.1);
   }
}

@-webkit-keyframes pulse {
   0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: 0 0 0 0 rgba(253, 132, 3, 0.1);
   }
   70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-box-shadow: 0 0 0 17px rgba(253, 132, 3, 0.1);
   }
   100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: 0 0 0 0 rgba(253, 132, 3, 0.1);
   }
}

@keyframes pulse2 {
   0% {
      box-shadow: 0 0 0 0px rgb(218, 29, 94, 0.2);
   }

   40% {
      box-shadow: 0 0 0 10px rgba(218, 29, 94, 0.2);
   }

   100% {
      box-shadow: 0 0 0 0 rgba(218, 29, 94, 0.2);
   }
}

@-webkit-keyframes pulse2 {
   0% {
      -webkit-box-shadow: 0 0 0 0px rgb(218, 29, 94, 0.2);
   }

   40% {
      -webkit-box-shadow: 0 0 0 10px rgba(218, 29, 94, 0.2);
   }

   100% {
      -webkit-box-shadow: 0 0 0 0 rgba(218, 29, 94, 0.2);
   }
}

.clue {
   position: absolute;
   padding: 10px;
   border-radius: 3px;
   box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
   -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
   background-color: #292533;
   color: #e6e6e6;
   font-size: 15.5px;
   font-weight: 400;
   min-width: 120px;
   max-width: 130px;
   max-height: 75px;
   bottom: 75px;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   visibility: hidden;
   opacity: 0;
   transition: 0.3s all ease;
   -webkit-transition: 0.3s all ease;
   -o-transition: 0.3s all ease;
}

.faqFixed:hover .clue {
   visibility: visible;
   opacity: 1;
}

.clue:hover {
   cursor: help;
}

@media (max-width: 1700px) {
   .faqFixed {
      right: 7.2%;
   }

   .faqFixed__link {
      right: 7.2%;
   }
}

@media (max-width: 1400px) {
   .faqFixed {
      right: 5.4%;
   }

   .faqFixed__link {
      right: 5.4%;
   }
}

@media (max-width: 1260px) {
   .faqFixed {
      right: 2.4%;
   }

   .faqFixed__link {
      right: 2.4%;
   }

   .clue {
      left: 10%;
   }
}

@media (max-width: 840px) {
   .faqFixed {
      right: 3.5%;
   }

   .faqFixed__link {
      right: 3.5%;
   }
}

@media (max-width: 540px) {
   .faqFixed {
      right: 3.8%;
   }

   .faqFixed__link {
      right: 3.8%;
   }
}

@media (max-width: 380px) {
   .faqFixed {
      right: 5.6%;
   }

   .faqFixed__link {
      right: 5.6%;
   }
}
