.header {
   padding: 3px 0;
   -webkit-box-shadow: 0 0 19px 2px rgb(0 0 0 / 91%);
   box-shadow: 0 0 19px 2px rgb(0 0 0 / 91%);
   background-color: #0c1013;
}

.navbar {
   z-index: 150;
}

.logo {
   width: 50px;
   height: auto;
   margin-top: 7px;
   filter: brightness(100%);
   transition: 0.9s all ease;
   -webkit-transition: 0.9s all ease;
   -o-transition: 0.9s all ease;
}

.logo:hover {
   filter: brightness(70%);
}

.header__nav--wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.search__input {
   min-width: 320px;
   min-height: 37px;
   padding: 0 20px;
   color: #dadada;
   background-color: #0f1012;
   outline: none;
   border: 2px solid #000000;
}

.search__btn {
   background-color: #636363a3;
   border: none;
   color: #b1b1b1;
   min-height: 38px;
   min-width: 85px;
}

.search__bar {
   display: flex;
   align-items: center;
}

.bar {
   position: relative;
   min-width: 380px;
   min-height: 40px;
   padding: 0 15px;
   background-color: #1b1d25;
   -webkit-box-shadow: inset 0 0 5px 2px rgb(0 0 0 / 65%);
   box-shadow: inset 0 0 5px 2px rgb(0 0 0 / 65%);
   text-shadow: 0 0 5px rgb(0, 0, 0, 0.7), 0 0 5px rgb(0, 0, 0, 0.7),
      0 0 3px rgb(0, 0, 0, 0.7), 0 0 3px rgb(0, 0, 0, 0.7),
      0 0 3px rgb(0, 0, 0, 0.7);
   border: 1px solid #070808;
   border-radius: 5px;
   color: #e4e3e3;
   font-size: 16px;
   letter-spacing: 0.5px;
   font-weight: 600;
   outline: none;
}

.bar::placeholder {
   font-weight: 400;
   font-size: 15px;
   color: #e0e0e0;
}

.search-icon {
   position: absolute;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   top: 50%;
   right: 1%;
   color: #e4e3e3;
}

.search__form:hover .search__path {
   fill: #ff780a;
   transition: 0.4s all ease;
   -webkit-transition: 0.4s all ease;
   -o-transition: 0.4s all ease;
}

.search__path {
   transition: 0.4s all ease;
   -webkit-transition: 0.4s all ease;
   -o-transition: 0.4s all ease;
}

.hidden {
   display: none;
}

.hide {
   display: none;
}

.search--anchor {
   background-color: #1b1d25;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
   -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
   text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 3px #000, 0 0 3px #000,
      0 0 3px #000;
   border: 1px solid #070808;
   border-radius: 4px;
   color: #e7eaee;
   width: 200px;
   padding: 10px;
   margin: 1.5px;
   transition: 0.2s all ease;
   -webkit-transition: 0.2s all ease;
   -o-transition: 0.2s all ease;
   font-weight: 400;
}

.search--anchor:hover {
   background-color: #32353c;
}

.search__wrapper {
   display: flex;
   flex-direction: column;
}

.searchlist__container {
   position: absolute;
   top: 60px;
   z-index: 10;
}

.navbar_scrolled {
   position: fixed;
   width: 100%;
   background-color: #0c1013;
   animation-name: fadeInUp;
   animation-duration: 0.4s;
   -webkit-animation-name: fadeInUp;
   -webkit-animation-duration: 0.4s;
   top: 0;
   padding: 3px 0;
   box-shadow: 0 0 19px 2px rgb(0 0 0 / 91%);
}

@keyframes fadeInUp {
   from {
      opacity: 0;
      top: -50px;
   }
   to {
      opacity: 1;
      top: 0;
   }
}

@-webkit-keyframes fadeInUp {
   from {
      opacity: 0;
      top: -50px;
   }
   to {
      opacity: 1;
      top: 0;
   }
}

@media (max-width: 540px) {
   .bar {
      min-width: 300px;
   }

   .logo {
      width: 44px;
   }
}

@media (max-width: 468px) {
   .bar {
      min-width: 260px;
   }

   .logo {
      width: 41px;
   }
}

@media (max-width: 380px) {
   .bar {
      min-width: 240px;
   }

   .logo {
      width: 39px;
   }
}
