@import url(./global.css);

html {
   -webkit-text-size-adjust: none;
   -webkit-overflow-scrolling: touch;
}

* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

body {
   position: relative;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #14171a;
   font-family: var(--rob);
}

body::-webkit-scrollbar {
   width: 17px;
}

body::-webkit-scrollbar-thumb {
   background: linear-gradient(120deg, #949495 0%, #292b31 100%);
}

body::-webkit-scrollbar-track {
   background-color: #0c1013;
}

.container {
   max-width: 1130px;
   padding: 0 15px;
   margin: 0 auto;
}

.site__container {
   overflow: hidden;
}

a {
   text-decoration: none;
   color: #000000;
}

ul,
li {
   list-style-type: none;
   padding-left: 0;
}

input {
   outline: none;
}

.stopscroll {
   position: relative;
   overflow: hidden;
}


/** главный заголовок всех страниц **/
.main__header {
   display: inline-block;
   position: relative;
   color: #d1d1d1;
   font-size: 28px;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 30px;
   user-select: none;
   animation-name: bounce;
   animation-duration: 0.6s;
   -webkit-animation-name: bounce;
   -webkit-animation-duration: 0.6s;
   -o-animation-duration: 0.6s;
   -o-animation-name: bounce;
}

@keyframes bounce {
   0% {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   50% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
   75% {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   100% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@-webkit-keyframes bounce {
   0% {
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
   }
   50% {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   75% {
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
   }
   100% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@-o-keyframes bounce {
   0% {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   50% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
   75% {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }
   100% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

.main__header::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 3.5px;
   top: 102%;
   background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ff8a00),
      to(#da1b60)
   );
   background: -o-linear-gradient(left, #ff8a00, #da1b60);
   background: linear-gradient(to right, #ff8a00, #da1b60);
   background-position: 0 0;
   animation: headerLine 4s infinite linear;
   -webkit-animation: headerLine 4s infinite linear;
}

@keyframes headerLine {
   0% {
      background-position: 0px;
   }

   75% {
      background-position: 250px;
   }

   100% {
      background-position: 0px;
   }
}

@-webkit-keyframes headerLine {
   0% {
      background-position: 0px;
   }

   75% {
      background-position: 250px;
   }

   100% {
      background-position: 0px;
   }
}

/** бг для всех стараниц **/
.main__bg {
   min-height: 1000px;
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
   background-size: 100%;
   margin-top: 55px;
}

/** отступ сверху для контента страниц **/
.content__indent {
   padding-top: 50px;
}

@media (max-width: 840px) {
   .content__indent {
      padding-top: 35px;
   }
}

@media (max-width: 468px) {
   .content__indent {
      padding-top: 20px;
   }
}

/** стрелка назад на главную страницу **/
.arrow__back {
   display: block;
   width: 40px;
   height: auto;
   margin-top: 7px;
}

.arrow__back path {
   fill: #feaa2a;
   transition: 0.2s all ease;
   -webkit-transition: 0.2s all ease;
   -o-transition: 0.2s all ease;
   -moz-transition: 0.2s all ease;
}

.arrow__back:hover path {
   fill: #ff8a00;
}

@media (max-width: 840px) {
   .arrow__back {
      width: 37px;
   }
}

@media (max-width: 540px) {
   .arrow__back {
      width: 36px;
   }
}

@media (max-width: 468px) {
   .arrow__back {
      width: 35px;
   }
}

@media (max-width: 380px) {
   .arrow__back {
      width: 33px;
   }
}